@font-face {
  font-family: "mont";
  src: url("../fonts/Montserrat-Light.otf") format("opentype");
}
* {
  margin: 0;
  padding: 0;
}

/* reset */
body,
html {
  height: 100%;
  position: relative;
  width: 100%;
  background-color: #f5f5f5;
  scroll-behavior: smooth;
}
body::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
body::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  background: #0c508d;
}
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
  background: #eeeeee;
}
img {
  display: block;
}
a {
  color: #333;
  text-decoration: none;
}
ul,
ol,
li,
dl,
dd {
  margin: 0;
  padding: 0;
  list-style: none;
}

.center {
  width: 1400px;
}

/* header wrapper */
.mh-header-wrapper {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.6);
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 99;
}
.mh-header-wrapper.active {
  background-color: transparent;
}
.headerInner {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: space-between;
  -webkit-align-items: center;
  -webkit-justify-content: space-between;
  height: 91px;
  margin: 0 auto;
  transition: 0.3s;
}
.headerInner .left {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
}
.headerInner .left .al {
  font-family: "mont";
  font-weight: bold;
  font-size: 20px;
  line-height: 1;
  color: #0c508d;
  margin-left: 15px;
  font-style: italic;
}
.headerInner .left .logo img {
  width: 180px;
}
.headerInner .right {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: space-between;
  -webkit-align-items: center;
  -webkit-justify-content: space-between;
  height: 100%;
}
.headerInner .header-menu-items {
  display: flex;
  display: -webkit-flex;
  margin-right: 90px;
  height: 100%;
}
.headerInner .header-menu-items .menu-item > a {
  font-family: "mont";
  font-weight: 400;
  font-size: 16px;
  color: #333333;
  transition: 0.3s;
  height: 100%;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
}
.headerInner .header-menu-items .menu-item > a:hover {
  color: #0c508d;
}
.headerInner .header-menu-items .active > a {
  color: #0c508d;
}
.headerInner .header-menu-items .menu-item:not(:first-of-type) {
  margin-left: 100px;
}
.headerInner .header-menu-items .menu-item .sub-menu {
  position: absolute;
  width: 100%;
  height: 80px;
  top: 100%;
  left: 0px;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  -webkit-align-items: center;
  -webkit-justify-content: center;
  align-items: center;
  transform: scaleY(0);
  transform-origin: center top;
  opacity: 0;
  transition: 0.3s;
}
.headerInner .header-menu-items .menu-item:hover > .sub-menu {
  opacity: 1;
  transform: scaleY(1);
}
.headerInner .header-menu-items .menu-item .sub-menu li:not(:first-of-type) {
  margin-left: 97px;
}
.headerInner .header-menu-items .menu-item .sub-menu li a {
  font-family: "mont";
  font-weight: 400;
  font-size: 16px;
  color: #333333;
  transition: 0.3s;
}
.headerInner .header-menu-items .menu-item .sub-menu li a:hover {
  color: #0c508d;
}
.headerInner .cart-menu {
  margin-right: 20px;
}
.headerInner .language {
  position: relative;
  cursor: pointer;
}
.headerInner .language .box {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
}
.headerInner .language .box span {
  font-family: "mont";
  font-weight: 400;
  font-size: 16px;
  color: #333333;
}
.headerInner .language .box i {
  font-size: 12px;
  color: #666666;
}
.headerInner .language .rq {
  position: absolute;
  top: 0px;
  left: 0;
  transform: scaleY(0);
  transform-origin: center top;
  opacity: 0;
  transition: 0.3s;
  padding-top: 30px;
  width: 100%;
}
.headerInner .language .rq a {
  font-family: "mont";
  font-weight: 400;
  font-size: 16px;
  color: #333333;
  transition: 0.3s;
}
.headerInner .language .rq a:hover {
  color: #0c508d;
}
.headerInner .language:hover > .rq {
  opacity: 1;
  transform: scaleY(1);
}

/* mobile navigation */
.hamburger {
  background: transparent;
  border: none;
  display: none;
  height: 32px;
  margin-left: 15px;
  position: fixed;
  top: 20px;
  width: 32px;
  z-index: 999;
  right: 0;
}
.hamburger:hover {
  outline: none;
}
.hamburger:focus {
  outline: none;
}
.hamburger:active {
  outline: none;
}
.hamburger.is-closed:before {
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transition: all 0.35s ease-in-out;
  color: #ffffff;
  content: "";
  display: block;
  font-size: 14px;
  line-height: 32px;
  opacity: 0;
  text-align: center;
  width: 100px;
}
.hamburger.is-closed:hover before {
  -webkit-transform: translate3d(-100px, 0, 0);
  -webkit-transition: all 0.35s ease-in-out;
  display: block;
  opacity: 1;
}
.hamburger.is-closed:hover .hamb-top {
  -webkit-transition: all 0.35s ease-in-out;
  top: 0;
}
.hamburger.is-closed:hover .hamb-bottom {
  -webkit-transition: all 0.35s ease-in-out;
  bottom: 0;
}
.hamburger.is-closed .hamb-top {
  -webkit-transition: all 0.35s ease-in-out;
  background-color: #dddddd;
  top: 5px;
}
.hamburger.is-closed .hamb-middle {
  background-color: #dddddd;
  margin-top: -2px;
  top: 50%;
}
.hamburger.is-closed .hamb-bottom {
  -webkit-transition: all 0.35s ease-in-out;
  background-color: #dddddd;
  bottom: 5px;
}
.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom,
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
  height: 4px;
  left: 0;
  position: absolute;
  width: 100%;
}
.hamburger.is-open .hamb-top {
  -webkit-transform: rotate(45deg);
  -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.73, 1, 0.28, 0.08);
  background-color: #ddd;
  margin-top: -2px;
  top: 50%;
}
.hamburger.is-open .hamb-middle {
  background-color: #ddd;
  display: none;
}
.hamburger.is-open .hamb-bottom {
  -webkit-transform: rotate(-45deg);
  -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.73, 1, 0.28, 0.08);
  background-color: #ddd;
  margin-top: -2px;
  top: 50%;
}
.hamburger.is-open:before {
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transition: all 0.35s ease-in-out;
  color: #ddd;
  content: "";
  display: block;
  font-size: 14px;
  line-height: 32px;
  opacity: 0;
  text-align: center;
  width: 100px;
}
.hamburger.is-open:hover before {
  -webkit-transform: translate3d(-100px, 0, 0);
  -webkit-transition: all 0.35s ease-in-out;
  display: block;
  opacity: 1;
}
ul,
li,
a {
  list-style: none;
  text-decoration: none;
}
ul li a {
  font-size: 14px;
  color: #333;
}
body {
  width: 100%;
  height: 100%;
  position: relative;
}
.sidebar-nav {
  width: calc(100%);
  height: 100%;
  position: fixed;
  top: 0;
  right: -100%;
  background-color: #eee;
  transition: all 0.3s;
  box-sizing: border-box;
}
.sidebar-nav-open {
  right: 0;
}
.sidebar-nav .sidebar-brand > a {
  font-size: 14px;
}
.sidebar-nav .sidebar-brand .xl {
  display: none;
}
.sidebar-nav .sidebar-brand a {
  display: flex;
  display: -webkit-flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  margin-bottom: 20px;
}
.sidebar-nav .sidebar-brand a .sj {
  display: block;
  width: 6px;
  height: 6px;
  border-right: 1px solid #dddddd;
  border-top: 1px solid #dddddd;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  margin-left: 10px;
}
.sidebar-nav .sidebar-brand a .sjrotate {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.activ {
  color: #f00;
}
.activ02 {
  color: pink;
}

/* Hero Banner Section */
.hero-banner {
  width: 100%;
  height: 630px;
  position: relative;
}
.hero-banner .bg {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(12, 80, 141, 0.2);
}
.hero-banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hero-banner h3 {
  font-family: mont;
  font-weight: bold;
  font-size: 48px;
  color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
.hero-banner h3 span {
  display: block;
}

/* Banner Section */
.banner-swiper {
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  overflow-x: hidden;
}
.banner-swiper .swiper-pagination {
  width: 1400px;
  display: flex;
  display: -webkit-flex;
  left: 50%;
  transform: translateX(-50%);
  bottom: 90px;
}
.banner-swiper .swiper-pagination-bullet {
  width: 40px;
  height: 2px;
  background: #92acc3;
  opacity: 1;
  border-radius: 0px;
}
.banner-swiper .swiper-pagination-bullet-active {
  width: 70px;
  background: #0c508d;
}
.banner-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: space-between;
  -webkit-align-items: center;
  -webkit-justify-content: space-between;
  gap: 50px;
}
.banner-content .left {
  width: 600px;
}
.banner-content .left h3 {
  font-family: "mont";
  font-weight: bold;
  font-size: 68px;
  color: #0c508d;
}
.banner-content .left h6 {
  font-family: "mont";
  font-weight: 500;
  font-size: 30px;
  color: #0c508d;
  line-height: 40px;
  margin: 52px 0 65px 0;
}
.read-more-btn {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
  -webkit-align-items: center;
  -webkit-justify-content: center;
  width: 150px;
  height: 45px;
  background: linear-gradient(90deg, #639cc7, #094f8b);
  border-radius: 23px;
}
.read-more-btn span {
  font-family: "mont";
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
  margin-right: 5px;
}
.read-more-btn i {
  font-size: 14px;
  color: #ffffff;
}
.banner-content .right {
  max-width: 645px;
  max-height: 585px;
}

/* Company Intro Section */
.company-intro-wrapper {
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
}
.company-intro-wrapper::before {
  display: block;
  content: "";
  width: 47.5%;
  height: 1px;
  background-color: #c5c5c5;
  position: absolute;
  top: 305px;
  left: 0px;
}
.company-intro-wrapper::after {
  display: block;
  content: "";
  width: 1px;
  height: 100%;
  background-color: #c5c5c5;
  position: absolute;
  top: 0px;
  left: 47.5%;
}
.company-intro-content {
  margin: 0 auto;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: space-between;
  -webkit-align-items: center;
  -webkit-justify-content: space-between;
  padding: 150px 0 130px 0;
}
.company-intro-content .left {
  width: 570px;
}
.title h3 {
  font-family: "mont";
  font-weight: bold;
  font-size: 36px;
  color: #333333;
  line-height: 1;
}
.title h6 {
  font-family: "mont";
  font-weight: 400;
  font-size: 20px;
  color: #333333;
  line-height: 40px;
  margin-top: 24px;
}
.company-intro-content .left .img-box {
  width: 100%;
  height: 399px;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 110px;
}
.company-intro-content .left .img-box:hover > img {
  transform: scale(1.05);
}
.company-intro-content .left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 3s;
}
.company-intro-content .right {
  width: 670px;
}
.company-intro-content .right .numContent {
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
}
.company-intro-content .right .numContent .num-b {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  align-items: center;
  -webkit-align-items: center;
}
.company-intro-content .right .numContent .num-b .numText {
  display: flex;
  display: -webkit-flex;
  align-items: flex-end;
  -webkit-align-items: flex-end;
}
.company-intro-content .right .numContent .num-b .numText .num {
  font-family: "mont";
  font-weight: bold;
  font-size: 48px;
  color: #0c508d;
  line-height: 1;
}
.company-intro-content .right .numContent .num-b .numText span {
  font-family: "mont";
  font-weight: 400;
  font-size: 16px;
  color: #333333;
  line-height: 1;
  padding-bottom: 5px;
}
.company-intro-content .right .numContent .num-b .text {
  font-family: "mont";
  font-weight: 400;
  font-size: 16px;
  color: #333333;
  line-height: 1;
  margin-top: 13px;
}
.company-intro-content .right .intro {
  margin-top: 85px;
}
.company-intro-content .right .intro h3 {
  font-family: "mont";
  font-weight: bold;
  font-size: 30px;
  color: #333333;
  line-height: 1;
}
.company-intro-content .right .intro h6 {
  font-family: "mont";
  font-weight: 400;
  font-size: 16px;
  color: #666666;
  line-height: 40px;
  margin: 38px 0 85px 0;
}

/* Our Product Section */
.our-product-wrapper {
  width: 100%;
  background: linear-gradient(180deg, #8794a7, #d0d6e2);
}
.our-product-content {
  margin: 0 auto;
  padding: 104px 0 94px 0;
  overflow: hidden;
}
.our-product-content .top-swiper {
  width: 100%;
}
.our-product-content .top-swiper .ct-box {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: space-between;
  -webkit-align-items: center;
  -webkit-justify-content: space-between;
}
.our-product-content .top-swiper .ct-box .left {
  width: 507px;
}
.our-product-content .top-swiper .ct-box .left .title h3 {
  font-family: "mont";
  font-weight: 400;
  font-size: 40px;
  color: #333333;
  line-height: 1;
}
.our-product-content .top-swiper .ct-box .left .title h6 {
  font-family: "mont";
  font-weight: 400;
  font-size: 20px;
  color: #333333;
  line-height: 40px;
  margin-top: 20px;
}
.our-product-content .top-swiper .ct-box .left .tm {
  font-family: "mont";
  font-weight: bold;
  font-size: 40px;
  color: #0c508d;
  line-height: 1;
  border-bottom: 3px solid #0c508d;
  width: max-content;
  max-width: 100%;
  margin: 70px 0 45px 0;
}
.our-product-content .top-swiper .ct-box .left .js {
  font-family: "mont";
  font-weight: 400;
  font-size: 16px;
  color: #666666;
  line-height: 30px;
  margin-bottom: 70px;
}
.our-product-content .top-swiper .ct-box .right {
  max-width: 745px;
  max-height: 556px;
}
.our-product-content .bottom {
  margin-top: 85px;
}
.our-product-content .bottom-swiper .swiper-wrapper {
  border-bottom: 1px solid #ffffff;
}
.our-product-content .bottom-swiper .swiper-slide a {
  font-family: "mont";
  font-weight: 500;
  font-size: 18px;
  color: #0c508d;
  display: block;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 25px;
  width: 100%;
  position: relative;
}
.our-product-content .bottom-swiper .swiper-slide a::after {
  display: block;
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0px;
  width: 0%;
  height: 1px;
  background-color: #0c508d;
  transition: 4s;
}
.our-product-content .bottom-swiper .swiper-slide-thumb-active a::after {
  width: 100%;
}

/* News Section */
.news-wrapper {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.news-content {
  margin: 0 auto;
  padding: 140px 0;
}
.news-content .top {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: space-between;
  -webkit-align-items: center;
  -webkit-justify-content: space-between;
}
.news-content .item-box {
  display: flex;
  display: -webkit-flex;
  width: 100%;
  height: 422px;
  margin-top: 85px;
}
.news-content .item-box .item {
  width: calc((40% - 4px) / 2);
  height: 100%;
  border-right: 1px solid #d0d6e2;
  border-top: 1px solid #d0d6e2;
  border-bottom: 1px solid #d0d6e2;
  display: flex;
  display: -webkit-flex;
  transition: 1s;
}
.news-content .item-box .item:first-of-type {
  border-left: 1px solid #d0d6e2;
}
.news-content .item-box .item.active {
  width: 60%;
}
.news-content .item-box .item .wz {
  width: calc(100% - 54px);
  padding: 53px 27px 0 27px;
  transition: 0.5s;
}
.news-content .item-box .item .wz .time {
  font-family: mont;
  font-weight: 400;
  font-size: 16px;
  color: rgba(102, 102, 102, 0.6);
  line-height: 1;
  transition: 0.5s;
}
.news-content .item-box .item .wz h3 {
  font-family: mont;
  font-weight: 500;
  font-size: 20px;
  color: #333333;
  line-height: 40px;
  height: 80px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  margin: 15px 0 30px 0;
  transition: 0.5s;
}
.news-content .item-box .item .wz h6 {
  font-family: mont;
  font-weight: 400;
  font-size: 16px;
  color: rgba(102, 102, 102, 0.6);
  line-height: 30px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  height: 90px;
  transition: 0.5s;
}
.news-content .item-box .item .wz a {
  width: 50px;
  height: 50px;
  background: #ffffff;
  border-radius: 50%;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
  -webkit-align-items: center;
  -webkit-justify-content: center;
  margin-top: 50px;
  box-shadow: 0px 1px 10px 0px rgb(11 28 49 / 10%);
}
.news-content .item-box .item .wz a i {
  font-size: 18px;
  color: #0c508d;
}
.news-content .item-box .item img {
  transform: scaleX(0);
  transform-origin: left;
  opacity: 0;
  width: calc(100% - 278px);
  transition: 1s;
  object-fit: cover;
}
.news-content .item-box .item.active .wz {
  width: calc(278px - 54px);
  background-color: #0c508d;
}
.news-content .item-box .item.active .wz .time {
  color: rgba(255, 255, 255, 0.6);
}
.news-content .item-box .item.active .wz h3 {
  color: #ffffff;
}
.news-content .item-box .item.active .wz h6 {
  color: rgba(255, 255, 255, 0.6);
}
.news-content .item-box .item.active img {
  transform: scaleX(1);
  opacity: 1;
}

/* Breadcrumb Section */
.breadcrumb-wrapper {
  width: 100%;
  background-color: #f8f8f8;
}
.breadcrumb-wrapper.bg-white {
  background-color: #fff;
}
.breadcrumb-wrapper .breadcrumb-inner {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  margin: 0 auto;
  height: 100px;
}
.breadcrumb-wrapper .breadcrumb-inner .nav {
  display: flex;
  display: -webkit-flex;
}
.breadcrumb-wrapper .breadcrumb-inner .nav p,
.breadcrumb-wrapper .breadcrumb-inner .nav span,
.breadcrumb-wrapper .breadcrumb-inner .nav a {
  font-family: mont;
  font-weight: 400;
  font-size: 16px;
  color: #333333;
  line-height: 1;
}
.breadcrumb-wrapper .breadcrumb-inner .nav a:last-of-type {
  color: #0c508d;
}
.breadcrumb-wrapper .breadcrumb-inner .nav span {
  margin: 0 7px;
}
.breadcrumb-wrapper .breadcrumb-inner .right {
  display: flex;
  display: -webkit-flex;
}
.breadcrumb-wrapper .breadcrumb-inner .right a {
  font-family: mont;
  font-weight: 400;
  font-size: 16px;
  color: #333333;
  transition: 0.3s;
  position: relative;
}
.breadcrumb-wrapper .breadcrumb-inner .right a::after {
  display: block;
  content: "";
  position: absolute;
  left: 50%;
  top: calc(100% + 5px);
  transform: translateX(-50%);
  width: 0px;
  background: #0c508d;
  height: 2px;
  transition: 0.3s;
}
.breadcrumb-wrapper .breadcrumb-inner .right a:not(:first-of-type) {
  margin-left: 30px;
}
.breadcrumb-wrapper .breadcrumb-inner .right .active {
  color: #0c508d;
}
.breadcrumb-wrapper .breadcrumb-inner .right .active::after {
  width: 30px;
}
.breadcrumb-wrapper .breadcrumb-inner .right a:hover {
  color: #0c508d;
}
.breadcrumb-wrapper .breadcrumb-inner .right a:hover::after {
  width: 30px;
}

/* About Intro Section */
.about-intro-wrapper {
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
}
.about-intro-content {
  margin: 0 auto;
  padding: 130px 0 110px 0;
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  align-items: center;
  -webkit-justify-content: space-between;
  -webkit-align-items: center;
}
.about-intro-content .left {
  width: 650px;
  height: 492px;
  border-radius: 10px;
  overflow: hidden;
}
.about-intro-content .left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 3s;
}
.about-intro-content .left:hover > img {
  transform: scale(1.05);
}
.about-intro-content .right {
  width: 670px;
}
.about-intro-content .right .js {
  font-family: mont;
  font-weight: 400;
  font-size: 16px;
  color: #666666;
  line-height: 40px;
  margin: 60px 0 85px 0;
}
.about-intro-content .right .numContent {
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
}
.about-intro-content .right .numContent .num-b {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  align-items: center;
  -webkit-align-items: center;
}
.about-intro-content .right .numContent .num-b .numText {
  display: flex;
  display: -webkit-flex;
  align-items: flex-end;
  -webkit-align-items: flex-end;
}
.about-intro-content .right .numContent .num-b .numText .num {
  font-family: mont;
  font-weight: bold;
  font-size: 48px;
  color: #0c508d;
  line-height: 1;
}
.about-intro-content .right .numContent .num-b .numText span {
  font-family: mont;
  font-weight: 400;
  font-size: 16px;
  color: #333333;
  line-height: 1;
  padding-bottom: 5px;
}
.about-intro-content .right .numContent .num-b .text {
  font-family: mont;
  font-weight: 400;
  font-size: 16px;
  color: #333333;
  line-height: 1;
  margin-top: 13px;
}

/* Corporate Culture Section */
.corporate-culture-wrapper {
  width: 100%;
  width: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.corporate-culture-content {
  margin: 0 auto;
  padding: 128px 0 160px 0;
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  align-items: center;
  -webkit-align-items: center;
}
.corporate-culture-content .left {
  width: 690px;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
}
.corporate-culture-content .left .tm {
  font-family: mont;
  font-weight: bold;
  font-size: 36px;
  color: #333333;
  line-height: 1;
  transform: translateX(115px);
}
.corporate-culture-content .left .time {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
  margin: 35px 0 60px 0;
}
.corporate-culture-content .left .time .sj {
  font-family: mont;
  font-weight: bold;
  font-size: 90px;
  color: #0c508d;
  line-height: 1;
}
.corporate-culture-content .left .time .jt {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  align-items: center;
  -webkit-align-items: center;
  margin-left: 75px;
}
.corporate-culture-content .left .time .jt p {
  font-family: mont;
  font-weight: 500;
  font-size: 18px;
  color: #666666;
}
.corporate-culture-content .left .time .jt .rund {
  width: 16px;
  height: 16px;
  background: #0c508d;
  border-radius: 50%;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
  -webkit-align-items: center;
  -webkit-justify-content: center;
}
.corporate-culture-content .left .time .jt .rund i {
  font-size: 12px;
  color: #ffffff;
}
.corporate-culture-content .left .txt .row {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
}
.corporate-culture-content .left .txt .row em {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 2px solid #0c508d;
}
.corporate-culture-content .left .txt .row p {
  width: calc(100% - 16px - 12px);
  font-family: mont;
  font-weight: 400;
  font-size: 20px;
  color: #666666;
  margin-left: 12px;
  line-height: 40px;
}
.corporate-culture-content .left .txt .row p span {
  color: #333333;
}
.corporate-culture-content .right {
  width: 673px;
  height: 440px;
  border-radius: 10px;
  overflow: hidden;
}
.corporate-culture-content .right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 3s;
}
.corporate-culture-content .right:hover > img {
  transform: scale(1.05);
}
/* Service Idea Section */
.service-idea-wrapper {
  width: 100%;
  background-color: #f8f8f8;
}
.service-idea-content {
  margin: 0 auto;
  padding: 90px 0 95px 0;
}
.service-idea-content h3 {
  font-family: mont;
  font-weight: bold;
  font-size: 40px;
  color: #333333;
  line-height: 1;
}
.service-idea-content .js {
  font-family: mont;
  font-weight: 400;
  font-size: 16px;
  color: #666666;
  line-height: 30px;
  margin: 50px 0;
}
.service-idea-content .row-box {
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  width: 100%;
  height: 263px;
}
.service-idea-content .row-box .row {
  display: flex;
  display: -webkit-flex;
  width: calc((100% - 23px) / 2);
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
}
.service-idea-content .row-box .row img {
  width: 408px;
  height: 100%;
  object-fit: cover;
}
.service-idea-content .row-box .row .left {
  width: calc(100% - 408px - 49px);
  padding-left: 49px;
  background-color: #0c508d;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  justify-content: center;
  -webkit-justify-content: center;
}
.service-idea-content .row-box .row .left .tm {
  font-family: mont;
  font-weight: bold;
  font-size: 24px;
  color: #ffffff;
}
.service-idea-content .row-box .row .left .wz {
  font-family: mont;
  font-weight: 400;
  font-size: 18px;
  color: #ffffff;
  margin-top: 20px;
}
.service-idea-content .container {
  margin-top: 23px;
  border-radius: 10px;
  overflow: hidden;
  height: 560px;
  position: relative;
}
.service-idea-content .container .bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.service-idea-content .container .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% - 160px);
}
.service-idea-content .container .content h3 {
  font-family: mont;
  font-weight: bold;
  font-size: 24px;
  color: #0c508d;
  text-align: center;
}
.service-idea-content .container .content .ct {
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  margin-top: 55px;
}
.service-idea-content .container .content .ct .item {
  max-width: 390px;
}
.service-idea-content .container .content .ct .item .tm {
  font-family: mont;
  font-weight: bold;
  font-size: 18px;
  color: #ffffff;
}
.service-idea-content .container .content .ct .item .txt {
  margin-top: 24px;
}
.service-idea-content .container .content .ct .item .txt p {
  font-family: mont;
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
  line-height: 30px;
}

/* Qualifications Section */
.qualifications-wrapper {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.qualifications-content {
  margin: 0 auto;
  padding: 70px 0 110px 0;
  overflow: hidden;
}
.qualifications-content .aSwiper {
  width: 100%;
  padding-bottom: 105px;
  margin-top: 65px;
}
.qualifications-content .aSwiper .box {
  width: calc(100% - 70px);
  height: 460px;
  padding: 30px 35px 0 35px;
  background-color: #ffffff;
}
.qualifications-content .aSwiper .box .img-box {
  width: 100%;
  height: 305px;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  align-items: center;
  -webkit-justify-content: center;
  -webkit-align-items: center;
}
.qualifications-content .aSwiper .box img {
  max-height: 100%;
  max-width: 100%;
}
.qualifications-content .aSwiper .box .line {
  width: 100%;
  height: 1px;
  background-color: #dedede;
  margin: 40px 0 23px 0;
}
.qualifications-content .aSwiper .box p {
  font-family: mont;
  font-weight: 400;
  font-size: 20px;
  color: #333333;
  text-align: center;
}
.qualifications-content .aSwiper .swiper-pagination-bullet {
  width: 50px;
  height: 2px;
  background: #c8c8c8;
  border-radius: unset;
  opacity: 1;
}
.qualifications-content .aSwiper .swiper-pagination-bullet-active {
  width: 106px;
  background-color: #0c508d;
}
/* Contact Intro Section */
.contact-info-wrapper {
  width: 100%;
  background-color: #ffffff;
}
.contact-info-content {
  margin: 0 auto;
  padding: 105px 0 90px 0;
}
.gy-title h3 {
  font-family: mont;
  font-weight: bold;
  font-size: 40px;
  color: #333333;
  text-align: center;
  line-height: 1;
}
.gy-title .line {
  width: 40px;
  height: 4px;
  background: #0c508d;
  margin: 20px auto 0;
}
.contact-info-content .item-box {
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  margin-top: 79px;
}
.contact-info-content .item-box .item:first-of-type {
  max-width: 500px;
}
.contact-info-content .item-box .item:nth-of-type(2) {
  transform: translateX(-80px);
}
.contact-info-content .item-box .item h3 {
  font-family: mont;
  font-size: 26px;
  color: #333333;
  font-weight: bold;
}
.contact-info-content .item-box .item .js {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
  margin-top: 40px;
}
.contact-info-content .item-box .item .js .rund {
  width: 57px;
  height: 57px;
  border-radius: 50%;
  border: 2px solid #0c508d;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
  -webkit-align-items: center;
  -webkit-justify-content: center;
  transition: 0.6s;
}
.contact-info-content .item-box .item:hover > .js .rund {
  transform: rotateY(180deg);
}
.contact-info-content .item-box .item .js .rund i {
  font-size: 32px;
  color: #0c508d;
}
.contact-info-content .item-box .item .js .txt {
  margin-left: 20px;
  font-family: mont;
  font-weight: 400;
  font-size: 16px;
  color: #666666;
  line-height: 30px;
  width: calc(100% - 61px - 20px);
}
.contact-info-content .item-box .item .zs {
  font-family: mont;
  font-weight: bold;
  font-size: 24px;
  color: #0c508d;
  margin-top: 40px;
  line-height: 1;
}
.contact-info-content .item-box .item:first-of-type .zs {
  font-size: 36px;
  margin-top: 30px;
}
.contact-info-content .map-box {
  width: 100%;
  height: 575px;
  margin-top: 85px;
}

#map {
  width: 100%;
  height: 100%;
}
#map .amap-logo {
  display: none;
  opacity: 0 !important;
}
#map .amap-copyright {
  display: none !important;
}
#map .amap-info-close {
  display: none;
}
#map .c-map-h4 {
  font-size: 18px;
  font-family: mont;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
}
#map .c-map-p {
  font-size: 14px;
  font-family: mont;
  font-weight: 400;
  color: #ffffff;
  margin-top: 5px;
}
#map .amap-info-content {
  background-color: #0c508d;
}
#map .bottom-center .amap-info-sharp {
  border-top: 8px solid #0c508d;
}
#map .amap-overlays {
  z-index: 1;
}

/* Contact Form Section */
.contact-form-wrapper {
  width: 100%;
  background-color: #f8f8f8;
}
.contact-form-content {
  margin: 0 auto;
  padding: 130px 0;
}
.contact-form-content form {
  width: calc(100% - 230px);
  padding: 85px 115px 105px 115px;
  background-color: #ffffff;
  margin-top: 70px;
}
.contact-form-content form .item {
  width: 100%;
  margin-bottom: 35px;
}
.contact-form-content form .label {
  font-family: mont;
  font-weight: 400;
  font-size: 16px;
  color: #333333;
  margin-bottom: 15px;
}
.contact-form-content form input {
  width: 100%;
  background-color: #f9f9f9;
  border-radius: 4px;
  border: 1px solid #ededed;
  outline: none;
  font-family: mont;
  font-weight: 400;
  font-size: 16px;
  color: #222222;
  height: 50px;
  text-indent: 20px;
}
.contact-form-content form textarea {
  width: 100%;
  background-color: #f9f9f9;
  border-radius: 4px;
  border: 1px solid #ededed;
  outline: none;
  font-family: mont;
  font-weight: 400;
  font-size: 16px;
  color: #222222;
  height: 210px;
  text-indent: 20px;
  padding-top: 15px;
  resize: none;
}
.contact-form-content form button {
  display: block;
  width: 130px;
  height: 45px;
  background: #0c508d;
  border-radius: 23px;
  outline: none;
  border: none;
  font-family: mont;
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
  margin: 65px auto 0;
}
.contact-form-content form .row {
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
}
.contact-form-content form .row .item {
  width: calc((100% - 100px) / 2);
}

/* Product List Section */
.product-list-wrapper {
  width: 100%;
  background-color: #f8f8f8;
}
.product-list-content {
  margin: 0 auto;
  padding: 108px 0 99px 0;
}
.product-lists {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
}
.product-lists li {
  width: calc((100% - 44px) / 3);
  margin-right: 22px;
  margin-bottom: 22px;
  background-color: #ffffff;
  transition: 0.3s;
}
.product-lists li:hover {
  box-shadow: 0px 5px 15px 0px rgb(11 28 49 / 15%);
}
.product-lists li:hover > a .ct h3 {
  color: #0c508d;
}
.product-lists li:nth-of-type(3n) {
  margin-right: 0px;
}
.product-lists li a {
  width: calc(100% - 66px);
  padding: 50px 33px 33px 33px;
  display: block;
}
.product-lists li a img {
  max-width: 100%;
  height: 210px;
  margin: 0 auto;
  object-fit: cover;
}
.product-lists li a .ct {
  margin-top: 45px;
}
.product-lists li a .ct h3 {
  font-family: mont;
  font-weight: bold;
  font-size: 20px;
  color: #333333;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  transition: 0.3s;
}
.product-lists li a .ct h6 {
  font-family: mont;
  font-weight: 400;
  font-size: 16px;
  color: #666666;
  line-height: 30px;
  margin-top: 12px;
  transition: 0.3s;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

/* product pagination */
.product-list-pagination {
  width: 100%;
  margin-top: 100px;
}
.product-list-pagination .el-pagination {
  text-align: center;
  width: 100%;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  -webkit-justify-content: center;
  padding: 0px;
}
.product-list-pagination .el-pagination .btn-prev {
  width: 60px;
  height: 35px;
  margin-right: 5px;
  padding: 0;
  background: #ffffff;
  border: 1px solid #dddddd;
}
.product-list-pagination .el-pagination .btn-next {
  padding: 0;
  width: 60px;
  background: #ffffff;
  border: 1px solid #dddddd;
  height: 35px;
}
.product-list-pagination .el-pagination .btn-prev .el-icon-arrow-left:before {
  content: "first";
  font-family: mont;
  font-weight: 400;
  font-size: 14px;
  color: #222222;
}
.product-list-pagination .el-pagination .btn-next .el-icon-arrow-right:before {
  content: "last";
  font-family: mont;
  font-weight: 400;
  font-size: 14px;
  color: #222222;
}
.product-list-pagination .el-pager li {
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  background: #ffffff;
  border: 1px solid #dddddd !important;
  margin-right: 5px;
  padding: 0px;
  font-family: mont;
  font-weight: 400;
  font-size: 14px;
}
.product-list-pagination .el-pager li.active {
  background-color: #0c508d;
  color: #ffffff;
}
.product-list-pagination .el-pagination .el-pager li:hover {
  color: #ffffff !important;
  background-color: #0c508d;
}
.product-list-pagination .el-pagination .el-pager .btn-quicknext:hover {
  color: #0c508d;
}

/* News List Section */
.news-list-wrapper {
  width: 100%;
  background-color: #f8f8f8;
}
.news-list-content {
  margin: 0 auto;
  padding: 78px 0 99px 0;
}
.news-lists {
  width: calc(100% - 90px);
  padding: 20px 45px;
  background-color: #ffffff;
}
.news-lists li:not(:first-of-type) {
  border-top: 1px solid #bababa;
}
.news-lists li a {
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  padding: 45px 0;
}
.news-lists li a .left .time {
  font-family: mont;
  font-weight: 400;
  font-size: 26px;
  color: #666666;
}
.news-lists li a .left .icon {
  width: 65px;
  height: 33px;
  background: transparent;
  border-radius: 4px;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
  -webkit-align-items: center;
  -webkit-justify-content: center;
  margin-top: 40px;
  transition: 0.3s;
}
.news-lists li a .left .icon i {
  font-size: 22px;
  color: #666666;
  transition: 0.3s;
}
.news-lists li a .mide {
  width: 55px;
  height: 1px;
  background: #9d9d9d;
  margin-top: 16px;
  transition: 0.3s;
}
.news-lists li a .right {
  width: calc(100% - 70px - 55px - 60px);
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
}
.news-lists li a .right img {
  width: 251px;
  height: 168px;
  object-fit: cover;
  margin-left: 135px;
}
.news-lists li a .right .txt {
  width: calc(100% - 251px - 135px);
}
.news-lists li a .right .txt h3 {
  font-family: mont;
  font-weight: bold;
  font-size: 20px;
  color: #333333;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  transition: 0.3s;
}
.news-lists li a .right .txt h6 {
  font-family: mont;
  font-weight: 400;
  font-size: 16px;
  color: #666666;
  line-height: 30px;
  margin-top: 30px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.news-lists li:hover > a .left .icon {
  background-color: #0c508d;
}
.news-lists li:hover > a .left .icon i {
  color: #ffffff;
}
.news-lists li:hover > a .mide {
  transform: translateX(-92px);
}
.news-lists li:hover > a .right .txt h3 {
  color: #0c508d;
}

/* News Details Section */
.news-details-wrapper {
  width: 100%;
  background-color: #f8f8f8;
}
.news-details-content {
  margin: 0 auto;
  padding: 78px 0 100px 0;
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
}
.news-details-content .left {
  width: 1010px;
}
.news-details-content .left .top {
  width: calc(100% - 60px);
  padding: 60px 30px;
  background-color: #ffffff;
}
.news-details-content .left .title {
  font-family: mont;
  font-weight: bold;
  font-size: 30px;
  color: #333333;
}
.news-details-content .left .line {
  width: 100%;
  height: 1px;
  background: #acacac;
  margin: 25px 0 30px 0;
}
.news-details-content .left .time {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
}
.news-details-content .left .time i {
  font-size: 16px;
  color: #666666;
}
.news-details-content .left .time p {
  font-family: mont;
  font-weight: 400;
  font-size: 16px;
  color: #999999;
  margin-left: 10px;
}
.news-details-content .left .cont {
  font-family: mont !important;
  font-weight: 400 !important;
  font-size: 16px !important;
  color: #666666 !important;
  margin-top: 45px;
}
.news-details-content .left .cont p:not(:first-of-type) {
  margin-top: 30px;
}
.news-details-content .left .cont img {
  max-width: 100%;
  margin: 30px auto 0;
}
.news-details-content .left .bottom {
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  margin-top: 99px;
}
.news-details-content .left .bottom a {
  width: calc((100% - 50px) / 2 - 60px);
  background-color: #ffffff;
  height: 90px;
  position: relative;
  padding: 0 30px;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  justify-content: center;
  -webkit-justify-content: center;
}
.news-details-content .left .bottom a .t {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
}
.news-details-content .left .bottom a .t i {
  font-size: 22px;
  color: #666666;
}
.news-details-content .left .bottom a .t span {
  font-family: mont;
  font-weight: 400;
  font-size: 16px;
  color: #666666;
  margin-left: 10px;
}
.news-details-content .left .bottom a h6 {
  font-family: mont;
  font-weight: 400;
  font-size: 16px;
  color: #333333;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  transition: 0.3s;
  margin-top: 16px;
}
.news-details-content .left .bottom a::before {
  display: block;
  content: "";
  width: 4px;
  height: 0px;
  background-color: #0c508d;
  transition: 0.5s;
  position: absolute;
  left: 0px;
  top: 0px;
}
.news-details-content .left .bottom a:hover::before {
  height: 100%;
}
.news-details-content .left .bottom a:hover > h6 {
  color: #0c508d;
}
.news-details-content .right {
  width: 319px;
}
.news-details-content .right .title {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
}
.news-details-content .right .title span {
  width: 4px;
  height: 22px;
  background: #0c508d;
}
.news-details-content .right .title h3 {
  font-family: mont;
  font-size: 24px;
  color: #333333;
  font-weight: 500;
  line-height: 1;
  margin-left: 15px;
}
.news-details-content .right .box {
  margin-top: 20px;
}
.news-details-content .right .box a {
  display: block;
  width: 100%;
}
.news-details-content .right .box a img {
  width: 100%;
  height: 192px;
  object-fit: cover;
}
.news-details-content .right .box a p {
  font-family: mont;
  font-weight: 500;
  font-size: 18px;
  color: #333333;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  margin-top: 25px;
}
.news-details-content .right .box a:not(:first-of-type) {
  border-top: 1px solid #c9c9c9;
  padding-top: 30px;
}
.news-details-content .right .box a:not(:last-of-type) {
  padding-bottom: 25px;
}

/* Product Details Section */
.pd1-box{
  width: 100%;
  background-color: #F8F8F8;
}
.pd1Inner{
  padding: 80px 0;
  margin: 0 auto;
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
}
.pd1Inner .pdSwiper{
  width: 750px;
  height: 550px;
  margin: 0;
  padding-bottom: 30px;
}
.pd1Inner .pdSwiper .swiper-pagination{
  bottom: 0px;
}
.pd1Inner .pdSwiper .swiper-pagination-bullet{
  width: 10px;
  height: 10px;
  opacity: 1;
  background-color: #C6C6C6;
  margin: 0 6px;
}
.pd1Inner .pdSwiper .swiper-pagination-bullet-active{
  background-color: #0C508D;
}
.pd1Inner .pdSwiper .box{
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
  -webkit-align-items: center;
  -webkit-justify-content: center;
}
.pd1Inner .pdSwiper .box img{
  max-width: 90%;
  max-height: 90%;
}
.pd1Inner .right{
  width: 575px;
  padding-top: 30px;
}
.pd1Inner .right .title h3{
  font-family: mont;
  font-weight: bold;
  font-size: 36px;
  color: #333333;
}
.pd1Inner .right .title h6{
  font-family: mont;
  font-weight: 400;
  font-size: 24px;
  color: #333333;
}
.pd1Inner .right .line{
  width: 100%;
  height: 1px;
  background-color: #BABABA;
  margin: 45px 0 40px 0;
}
.pd1Inner .right .txt{
  margin-bottom: 69px;
}
.pd1Inner .right .txt p{
  font-family: mont;
  font-weight: 400;
  font-size: 16px;
  color: #666666;
  line-height: 40px;
}
.pd2-box{
  width: 100%;
  background-color: #FFFFFF;
}
.pd2Inner{
  margin: 0 auto;
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  padding: 100px 0;
}
.pd2Inner .left{
  width: 900px;
}
.pd2Inner .left .title {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
}
.pd2Inner .left .title span{
  width: 3px;
  height: 36px;
  background: #0C508D;
}
.pd2Inner .left .title h3{
  font-family: mont;
  font-weight: 400;
  font-size: 36px;
  color: #333333;
  line-height: 1;
  margin-left: 30px;
}
.pd2Inner .left .line{
  width: 100%;
  height: 1px;
  background-color: #EBEDED;
  margin: 30px 0;
}
.pd2Inner .left .table-box{
  width: calc(100% - 2px);
  border: 1px solid #E1E3E6;
}
.pd2Inner .left .table-box table{
  width: 100%;
  border-collapse: collapse
}
.pd2Inner .left .table-box table thead th{
  font-family: mont;
  font-weight: bold;
  font-size: 18px;
  color: #0C508D;
  text-align: left;
  background-color: #F3F6F9;
  padding: 10px 30px;
}
.pd2Inner .left .table-box table tbody td{
  font-family: mont;
  font-weight: 400;
  font-size: 16px;
  color: #666666;
  padding: 10px 30px;
}
.pd2Inner .left .table-box table tbody tr:not(:first-of-type){
  border-top: 1px solid #EBEDED;
}
.pd2Inner .left .table-box table tbody td:not(:first-of-type){
  border-left: 1px solid #EBEDED;
}
.pd2Inner .right{
  width: calc(100% - 900px - 110px);
}
.pd2Inner .right h3{
  font-family: mont;
  font-weight: 400;
  font-size: 24px;
  color: #999999;
}
.pd2Inner .right .item-box {
  margin-top: 25px;
}
.pd2Inner .right .item-box a{
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
}
.pd2Inner .right .item-box a:not(:first-of-type){
  margin-top: 20px;
}
.pd2Inner .right .item-box a .box{
  width: 160px;
  height: 118px;
  background: #FFFFFF;
  border: 1px solid #EBEDED;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
  -webkit-align-items: center;
  -webkit-justify-content: center;
}
.pd2Inner .right .item-box a .box img{
  max-height: 90%;
  max-width: 90%;
}
.pd2Inner .right .item-box a .txt{
  width: calc(100% - 162px - 22px);
  margin-left: 22px;
}
.pd2Inner .right .item-box a .txt .tm{
  font-family: mont;
  font-weight: 400;
  font-size: 18px;
  color: #666666;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  transition: 0.3s;
}
.pd2Inner .right .item-box a:hover>.txt .tm{
  color: #0C508D;
}
.pd2Inner .right .item-box a .txt span{
  font-family: mont;
  font-weight: 400;
  font-size: 14px;
  color: #999999;
  margin-top: 14px;
  display: block;
}
/* Footer Section */
.mh-footer-wrapper {
  width: 100%;
  background-color: #3a3a3a;
}
.footer-inner {
  margin: 0 auto;
  padding: 49px 0 55px 0;
}
.footer-inner .top {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: space-between;
  -webkit-align-items: center;
  -webkit-justify-content: space-between;
}
.footer-inner .top .left {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
}
.footer-inner .top .left .fl img {
  width: 140px;
}
.footer-inner .top .left .al {
  font-family: "mont";
  font-weight: bold;
  font-size: 34px;
  color: #f5831e;
  margin-left: 15px;
  line-height: 1;
  font-style: italic;
}
.footer-inner .top .phone-box {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
}
.footer-inner .top .phone-box .icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #ffffff;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
  -webkit-align-items: center;
  -webkit-justify-content: center;
}
.footer-inner .top .phone-box .icon i {
  font-size: 28px;
  color: #ffffff;
}
.footer-inner .top .phone-box .txt {
  margin-left: 16px;
}
.footer-inner .top .phone-box .txt .rx {
  font-family: "mont";
  font-weight: 400;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.6);
  line-height: 1;
}
.footer-inner .top .phone-box .txt .sz {
  font-family: "mont";
  font-weight: 500;
  font-size: 32px;
  color: #ffffff;
  line-height: 1;
  margin-top: 11px;
}
.footer-inner .middle {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  margin: 45px 0 35px 0;
  padding: 55px 0 50px 0;
}
.footer-inner .middle .footer-nav {
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  -webkit-justify-content: center;
}
.footer-inner .middle .footer-nav a {
  font-family: "mont";
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
}
.footer-inner .middle .footer-nav a:not(:first-of-type) {
  margin-left: 165px;
}
.footer-inner .middle .contact-info {
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  margin-top: 50px;
}
.footer-inner .middle .contact-info p {
  font-family: "mont";
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
}
.footer-inner .bottom {
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
}
.footer-inner .bottom a {
  font-family: "mont";
  font-weight: 400;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
}
